{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-light {{ if not $cover }} nav-shadow {{ end }}flex-column flex-md-row td-navbar">

	<a id="agones-top" {{ if $cover }} style="display: none;" {{end}} class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
		{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }} {{ end }}<span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span>
	</a>

	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
			</li>
			{{ end }}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{ .Site.Params.github_repo }}">GitHub</a>
			</li>
			<li class="nav-item dropdown d-none d-lg-block">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Release
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="https://development.agones.dev">Development</a>
					<a class="dropdown-item" href="https://agones.dev">{{ .Site.Params.release_version }}</a>
					<a class="dropdown-item" href="https://1-26-0.agones.dev">1.26.0</a>
					<a class="dropdown-item" href="https://1-25-0.agones.dev">1.25.0</a>
					<a class="dropdown-item" href="https://1-24-0.agones.dev">1.24.0</a>
					<a class="dropdown-item" href="https://1-23-0.agones.dev">1.23.0</a>
					<a class="dropdown-item" href="https://1-22-0.agones.dev">1.22.0</a>
					<a class="dropdown-item" href="https://1-21-0.agones.dev">1.21.0</a>
					<a class="dropdown-item" href="https://1-20-0.agones.dev">1.20.0</a>
					<a class="dropdown-item" href="https://1-19-0.agones.dev">1.19.0</a>
					<a class="dropdown-item" href="https://1-18-0.agones.dev">1.18.0</a>
					<a class="dropdown-item" href="https://1-17-0.agones.dev">1.17.0</a>
					<a class="dropdown-item" href="https://1-16-0.agones.dev">1.16.0</a>
					<a class="dropdown-item" href="https://1-15-0.agones.dev">1.15.0</a>
					<a class="dropdown-item" href="https://1-14-0.agones.dev">1.14.0</a>
					<a class="dropdown-item" href="https://1-13-0.agones.dev">1.13.0</a>
					<a class="dropdown-item" href="https://1-12-0.agones.dev">1.12.0</a>
					<a class="dropdown-item" href="https://1-11-0.agones.dev">1.11.0</a>
					<a class="dropdown-item" href="https://1-10-0.agones.dev">1.10.0</a>
					<a class="dropdown-item" href="https://1-9-0.agones.dev">1.9.0</a>
					<a class="dropdown-item" href="https://1-8-0.agones.dev">1.8.0</a>
					<a class="dropdown-item" href="https://1-7-0.agones.dev">1.7.0</a>
					<a class="dropdown-item" href="https://1-6-0.agones.dev">1.6.0</a>
					<a class="dropdown-item" href="https://1-5-0.agones.dev">1.5.0</a>
					<a class="dropdown-item" href="https://1-4-0.agones.dev">1.4.0</a>
					<a class="dropdown-item" href="https://1-3-0.agones.dev">1.3.0</a>
					<a class="dropdown-item" href="https://1-2-0.agones.dev">1.2.0</a>
					<a class="dropdown-item" href="https://1-1-0.agones.dev">1.1.0</a>
					<a class="dropdown-item" href="https://1-0-0.agones.dev">1.0.0</a>
				</div>
			</li>
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
	<div class="navbar-nav mx-lg-2 d-none d-lg-block">{{ partial "search-input.html" . }}</div>
</nav>
