{{ $col_id := .Get "color" | default "dark" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max"  }}
<section class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--light -bg-{{ $col_id }}">
  <div class="container td-overlay__inner">
    <div class="row justify-content-center align-items-end">
      <div class="col col-lg-4" id="cover-title">
          <h1 class="display-1 mt-0 pb-3">
            <img alt="agones" width="98" src="images/logo.svg" />
              Agones
          </h1>
          <p class="display-2 mb-0">Host, Run and Scale dedicated game servers on Kubernetes</p>
      </div>
      <div class="col col-lg-auto mt-1 mt-lg-3 d-none d-md-block">
          <asciinema-player
          loop autoplay font-size="12px" rows=12 cols=60
          src="agones.cast"></asciinema-player>
      </div>
      <div class="col-12 pt-3">
          <div class="pt-3 lead text-center">
              {{ .Inner }}
          </div>
      </div>
    </div>
  </div>
</section>