# Copyright 2018 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
{{- if .Values.agones.registerServiceAccounts }}
{{- range .Values.gameservers.namespaces }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $.Values.agones.serviceaccount.sdk }}
  namespace: {{ . }}
  labels:
    app: {{ template "agones.name" $ }}
    chart: {{ template "agones.chart" $ }}
    release: {{ $.Release.Name }}
    heritage: {{ $.Release.Service }}
---
{{- end }}
{{- if .Values.agones.rbacEnabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.agones.serviceaccount.sdk }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "agones.name" . }}
    chart: {{ template "agones.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
rules:
- apiGroups: [""]
  resources: ["events"]
  verbs: ["create", "patch"]
- apiGroups: ["agones.dev"]
  resources: ["gameservers"]
  verbs: ["list", "update", "watch"]
---
  {{- range .Values.gameservers.namespaces }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $.Values.agones.serviceaccount.sdk }}-access
  namespace: {{ . }}
  labels:
    app: {{ template "agones.name" $ }}
    chart: {{ template "agones.chart" $ }}
    release: {{ $.Release.Name }}
    heritage: {{ $.Release.Service }}
subjects:
- kind: User
  name: system:serviceaccount:{{ . }}:{{ $.Values.agones.serviceaccount.sdk }}
  apiGroup: rbac.authorization.k8s.io
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $.Values.agones.serviceaccount.sdk }}
---
  {{- end }}
{{- end }}
{{- end }}
