{{ warnf `shortcode 'card-code' is deprecated: use shortcode 'card' with named parameter 'code=true' instead.` -}}
{{ $lang := default "" ($.Get "lang") -}}
{{ $highlight := default "" ($.Get "highlight") -}}

<div class="td-card card border me-4">
  {{ with $.Get "header" -}}
    <div class="card-header bg-white">
      {{ . | markdownify -}}
    </div>
  {{ end -}}
  <div class="card-body code p-0 m-0">
    {{ with $.Inner -}}
      {{ highlight . $lang $highlight -}}
    {{ end -}}
  </div>
</div>
