# Copyright 2024 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
{{/* schema for a fleet autoscaler policy */}}
{{- define "fleetautoscaler.policy" }}
policy:
  type: object
  required:
    - type
  properties:
    type:
      type: string
      enum:
      - Buffer
      - Webhook
      - Counter
      - List
<<<<<<< HEAD
      {{- if .includeChainPolicy }}
=======
      {{- $featureGates := include "agones.featureGates" . | fromYaml }}
      {{- if $featureGates.ScheduledAutoscaler }}
>>>>>>> 17038c8e6 (fix copyright dates, feature gate and include policy)
      - Chain
      {{- end }}
    buffer:
      type: object
      nullable: true
      required:
        - maxReplicas
      properties:
        minReplicas:
          type: integer
          minimum: 0
        maxReplicas:
          type: integer
          minimum: 1
        bufferSize:
          x-kubernetes-int-or-string: true
          anyOf:
            - type: integer
            - type: string
    webhook:
      type: object
      nullable: true
      properties:
        url:
          type: string
        service:
          type: object
          required:
            - namespace
            - name
          properties:
            namespace:
              type: string
            name:
              type: string
            path:
              type: string
            port:
              type: integer
        caBundle:
          type: string
          format: byte
    counter:
      type: object
      nullable: true
      required:
        - key
        - bufferSize
        - maxCapacity
      properties:
        key:  # The name of the Counter.
          type: string
        minCapacity:  # Minimum aggregate counter capacity that can be provided by this FleetAutoscaler. If not specified, the actual minimum capacity will be bufferSize.
          type: integer
          minimum: 0
        maxCapacity:  # Maximum aggregate counter capacity that can be provided by this FleetAutoscaler. Required.
          type: integer
          minimum: 1
        bufferSize:  # Size of a buffer of counted items that are available in the Fleet (available capacity). It can be specified either in absolute (i.e. 5) or percentage format (i.e. 5%).
          x-kubernetes-int-or-string: true
          anyOf:
            - type: integer
            - type: string
    list:
      type: object
      nullable: true
      required:
        - key
        - bufferSize
        - maxCapacity
      properties:
        key:  # The name of the List.
          type: string
        minCapacity:  # Minimum aggregate list capacity that can be provided by this FleetAutoscaler. If not specified, the actual minimum capacity will be bufferSize.
          type: integer
          minimum: 0
        maxCapacity:  # Maximum aggregate list capacity that can be provided by this FleetAutoscaler. Required.
          type: integer
          minimum: 1
        bufferSize:  # Size of a buffer based on the list capacity that is available over the current aggregate list length in the Fleet. It can be specified either in absolute (i.e. 5) or percentage format (i.e. 5%).
          x-kubernetes-int-or-string: true
          anyOf:
            - type: integer
            - type: string
<<<<<<< HEAD
    {{- if .includeChainPolicy }}
=======
    {{- if $featureGates.ScheduledAutoscaler }}
>>>>>>> 17038c8e6 (fix copyright dates, feature gate and include policy)
    chain:
      type: array
      nullable: true
      items:
        type: object
        nullable: true
        required:
          - policy
        properties:
          id: # The Id of a chain entry.
            type: string
          schedule: # Defines when the policy is applied.
            type: object
            properties:
              between:
                type: object
                start: # Defines when to start evaluating the active period, must conform to RFC3339.
                  type: string
<<<<<<< HEAD
                end: # Defines when to stop evaluating the active period, must conform to RFC3339.
                  type: string
              activePeriod:
                type: object
                timezone: # Timezone to be used for the startCron field, must conform with the IANA Time Zone database (e.g. America/New_York).
                  type: string
                startCron:  # Cron expression defining when to start applying the policy. All TZ/CRON_TZ specification within startCron will be rejected, please use the timezone field above to specify a timezone. Must conform with UNIX CRON syntax.
                  type: string
                duration: # The length of time the policy should be applied for (e.g. 2h45m).
                  type: string
            {{- include "fleetautoscaler.policy" (dict "includeChainPolicy" false) | indent 12 }} # Defines which policy to apply during the active period. Required.
=======
                between:
                  type: object
                  start: # Defines when to start evaluating the active period.
                    type: string
                  end: # Defines when to stop evaluating the active period.
                    type: string
                activePeriod:
                  type: object
                  startCron: # Cron expression defining when to start applying the policy.
                    type: string
                  duration: # The length of time the policy should be applied for.
                    type: string
            {{ include "fleetautoscaler.policy" | indent 12 }} # Defines which policy to apply during the active period. Required.
>>>>>>> 17038c8e6 (fix copyright dates, feature gate and include policy)
    {{- end }}
{{- end }}
