# Copyright 2018 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- if .Values.agones.crds.install }}

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: fleetautoscalers.autoscaling.agones.dev
  labels:
    component: crd
    app: {{ template "agones.name" . }}
    chart: {{ template "agones.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  group: autoscaling.agones.dev
  names:
    kind: FleetAutoscaler
    plural: fleetautoscalers
    shortNames:
    - fas
    singular: fleetautoscaler
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          description: 'FleetAutoscaler is the data structure for a FleetAutoscaler resource.'
          type: object
          properties:
            spec:
              description: 'FleetAutoscalerSpec is the spec for a Fleet Scaler. More info:
                https://agones.dev/site/docs/reference/agones_crd_api_reference/#autoscaling.agones.dev/v1.FleetAutoscaler'
              type: object
              required:
                - fleetName
                - policy
              properties:
                fleetName:
                  type: string
                  minLength: 1
                  maxLength: 63
                  pattern: "^[a-z0-9]([-\\.a-z0-9]*[a-z0-9])?$"
                policy:
                  type: object
                  required:
                    - type
                  properties:
                    type:
                      type: string
                      enum:
                      - Buffer
                      - Webhook
                      - Counter
                      - List
                    buffer:
                      type: object
                      nullable: true
                      required:
                        - maxReplicas
                      properties:
                        minReplicas:
                          type: integer
                          minimum: 0
                        maxReplicas:
                          type: integer
                          minimum: 1
                        bufferSize:
                          x-kubernetes-int-or-string: true
                          anyOf:
                            - type: integer
                            - type: string
                    webhook:
                      type: object
                      nullable: true
                      properties:
                        url:
                          type: string
                        service:
                          type: object
                          required:
                            - namespace
                            - name
                          properties:
                            namespace:
                              type: string
                            name:
                              type: string
                            path:
                              type: string
                            port:
                              type: integer
                        caBundle:
                          type: string
                          format: byte
                    counter:
                      type: object
                      nullable: true
                      required:
                        - key
                        - bufferSize
                        - maxCapacity
                      properties:
                        key:  # The name of the Counter.
                          type: string
                        minCapacity:  # Minimum aggregate counter capacity that can be provided by this FleetAutoscaler. If not specified, the actual minimum capacity will be bufferSize.
                          type: integer
                          minimum: 0
                        maxCapacity:  # Maximum aggregate counter capacity that can be provided by this FleetAutoscaler. Required.
                          type: integer
                          minimum: 1
                        bufferSize:  # Size of a buffer of counted items that are available in the Fleet (available capacity). It can be specified either in absolute (i.e. 5) or percentage format (i.e. 5%).
                          x-kubernetes-int-or-string: true
                          anyOf:
                            - type: integer
                            - type: string
                    list:
                      type: object
                      nullable: true
                      required:
                        - key
                        - bufferSize
                        - maxCapacity
                      properties:
                        key:  # The name of the List.
                          type: string
                        minCapacity:  # Minimum aggregate list capacity that can be provided by this FleetAutoscaler. If not specified, the actual minimum capacity will be bufferSize.
                          type: integer
                          minimum: 0
                        maxCapacity:  # Maximum aggregate list capacity that can be provided by this FleetAutoscaler. Required.
                          type: integer
                          minimum: 1
                        bufferSize:  # Size of a buffer based on the list capacity that is available over the current aggregate list length in the Fleet. It can be specified either in absolute (i.e. 5) or percentage format (i.e. 5%).
                          x-kubernetes-int-or-string: true
                          anyOf:
                            - type: integer
                            - type: string
                sync:
                  type: object
                  required:
                    - type
                  properties:
                    type:
                      type: string
                      enum:
                        - FixedInterval
                    fixedInterval:
                      type: object
                      nullable: true
                      required:
                        - seconds
                      properties:
                        seconds:
                          type: integer
                          minimum: 0
                          exclusiveMinimum: true
            status:
              description: 'FleetAutoscalerStatus defines the current status of a FleetAutoscaler. More info:
                https://agones.dev/site/docs/reference/agones_crd_api_reference/#autoscaling.agones.dev/v1.FleetAutoscaler'
              type: object
              properties:
                currentReplicas:
                  type: integer
                desiredReplicas:
                  type: integer
                lastScaleTime:
                  type: string
                  format: date-time
                  nullable: true
                ableToScale:
                  type: boolean
                scalingLimited:
                  type: boolean
      subresources:
        # status enables the status subresource.
        status: {}
{{- end }}
