{{- $gate := .Get "gate" }}
{{- $title := .Get "title" | markdownify }}
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Warning</h4>
    <p>The {{ $title }} feature is currently <strong><a href="{{ ref . "/docs/Guides/feature-stages.md#beta" }}">Beta</a></strong>,
        and while it is enabled by default it may change in the future.</p>
    <p>Use the Feature Gate <code>{{- $gate }}</code> to disable this feature.</p>
    <p>See the <a href="{{ ref . "/docs/Guides/feature-stages.md#feature-gates" }}">Feature Gate documentation</a> for details on how to disable features.</p>
</div>
