{{ $col_id := .Get "color" | default .Ordinal -}}
{{ $height := .Get "height" | default "auto"  -}}
{{ $type   := .Get "type" | default "container" -}}

<div><a id="td-block-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="row td-box td-box--{{ $col_id }} td-box--height-{{ $height }}">
<div class="col">
<div class="{{ $type }}">
{{/* Do NOT remove this comment! It ends the HTML block above. See https://spec.commonmark.org/0.30/#html-blocks, 7. */}}
{{ .Inner -}}
</div>
</div>
</section>
{{/**/ -}}
