+++
title = "Agones"
linkTitle = "Agones"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/googleforgames/agones/releases">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Multiplayer dedicated game servers anywhere</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light-secondary" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<p><strong>What is Agones?</strong></p>

<p>An open source, batteries-included, multiplayer dedicated game server scaling and
orchestration platform that can run anywhere <a class="text-primary" href="https://kubernetes.io">Kubernetes</a> can run.</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="row" >}}
{{% blocks/feature icon="fas fa-file-code" title="Orchestrate Game Servers" url="./docs/getting-started/" %}}
<p>Define and manage groups of ready gameservers through YAML configuration or API calls.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-wrench" title="Integrate any Engine" url="./docs/guides/client-sdks/" %}}
<p>Integrated SDK for managing game server lifecycle, health and configuration.

Tools for local development included!</p>
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chart-area" title="Metrics and Monitoring" url="./docs/guides/metrics/" %}}
<p>Integration with <a href="https://opencensus.io/">OpenCensus</a>
for platform-independent game server metrics and monitoring dashboards</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary" type="row" >}}
<div class="col">
	<h2 class="text-center pb-3">Companies using Agones</h2>
	<p class="text-center showcase">
		<img alt="ubisoft" width="100" src="images/ubisoft.png" />
		<a href="http://supersolid.com/"><img alt="supersolid" width="100" src="images/supersolid.png" /></a>
		<a href="http://www.yager.de/"><img alt="yager" width="100" src="images/yagerdevelopment.png" /></a>
		<a href="http://mcmahan.games/"><img alt="mcmahan.games" width="100" src="images/mcmahangames.png" /></a>
		<a href="http://altavr.io/"><img alt="altavr" width="100" src="images/altavr-logo.png" /></a>
		<a href="https://www.embark.games/"><img alt="Embark Studios" width="50" src="images/embark.png" /></a>
		<a href="http://accelbyte.io/"><img alt="accelbyte" width="100" src="images/accelbyte.png" /></a>
		<a href="https://space.game/"><img alt="Space Game" width="80" src="images/spacegame.png" /></a>
		<a href="https://rolltable.app/"><img alt="rolltable" width="100" src="images/rolltable.png" /></a>
		<a href="https://vela.games/" data-proofer-ignore><img alt="Vela Games" width="100" src="images/velagames.png" /></a>
		<a href="https://netspeakgames.com//"><img alt="Netspeak Games" width="100" src="images/netspeakgames.png" /></a>
		<a href="https://afterverse.com/" data-proofer-ignore><img alt="Afterverse" width="100" src="images/afterverse.svg" /></a>
		<a href="https://rocketbotroyale.winterpixel.io/"><img alt="Winterpixel Games" width="100" src="images/winterpixel.png" /></a>
		<a href="https://vizor-games.com"><img alt="Vizor Games" width="100" src="images/vizor-games.png" /></a>
		<a href="https://acceleratxr.com"><img alt="AcceleratXR" width="100" src="images/acceleratxr.png" /></a>
		<a href="https://enterprise.nitrado.net/"><img alt="Nitrado" width="100" src="images/nitrado.svg" /></a>
	</p>
</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary" type="row" >}}
{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://join.slack.com/t/agones/shared_invite/zt-2mg1j7ddw-0QYA9IAvFFRKw51ZBK6mkQ" url_text="Join us" %}}
Join the community on Slack
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/googleforgames/agones" url_text="Contribute to Agones" %}}
  We do a [Pull Request](https://github.com/googleforgames/agones/pulls) contributions workflow on **GitHub**.

  New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/agonesdev" url_text="Follow us" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
